

<html>
    <head>
        <link rel="stylesheet" href="~/css/SSLogin.css" />
    </head>
    <body>

        <header class="headerLog">
        <div class="whiteboxLog">
            <h2> Registro completo </h2>
            <br />
            <h2> Puede acceder a [Mi cuenta] para modificar estos datos. </h2>
            <br />
            <form action="/Usuario/Login" method="post">
            <div class="form-group boton">

                <button type="submit" class="btn btn-primary" value="btn" name="btnlogin">Finalizar registro</button>
            </div>
            </form>
        </div>

        </header>
        
    </body>
    
</html>
