<html>
<head>
    <link rel="stylesheet" href="~/css/SSLogin.css" />
</head>
<body>

    <header class="headerLog">
        <div class="whiteboxLog">
            <h2> Este libro ya se encuentra en tu lista </h2>
            <br />
            <h2> Redirigiendo a [Reservas]  </h2>
            <br />
            <form action="/Prestamo/IndexReserva" method="post">
                <div class="form-group boton">

                    <button type="submit" class="btn btn-primary" value="btn" name="btnlogin">Proceder</button>
                </div>
            </form>
        </div>

    </header>

</body>

</html>